esphome:
  platformio_options:
    board_build.flash_mode: dio

esp32:
  board: airm2m_core_esp32c3
  framework:
    type: esp-idf

output:
  - platform: gpio
    pin:
      number: 12
      inverted: false
    id: output_onboard_led

status_led:
  pin: 13
